{% extends "index.html" %}

{% block content %}
<canvas id="canvas-object"></canvas>
<canvas id="canvas-mesh"></canvas>
<a href="/descargar-archivo" class="btn btn-primary boton-descargar">Descargar</a>
  
  <!-- pasamos la URL del modelo hecho mesh como una vairable global -->
  <script>
    window.objectUrl= "{{object_url}}"
    window.meshUrl = "{{ mesh_url }}";
  </script>

  <!-- cargamos el script the java script-->
  <script src="{{ url_for('static', filename='scripts/render-object.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/render-mesh.js') }}"></script>

{% endblock %}