{% extends "index.html" %}

{% block content %}
  <canvas id="canvas-object"></canvas>
  <canvas id="canvas-mesh"></canvas>
  <h2 class="info-modelo" id="titulo-obj">Objeto Voxelizado</h2>
  <h2 class="info-modelo" id="titulo-mesh">Superficie envolvente</h2>
  <span class="info-modelo" id="conteo-obj">{{obj_count}} caras</span>
  <span class="info-modelo" id="conteo-mesh">{{mesh_count}} caras</span>
  <a href="/descargar-archivo" class="btn btn-primary boton-descargar">Descargar Archivos</a>
  <!-- pasamos la URL del modelo hecho mesh como una vairable global -->
  <script>
    window.objectUrl= "{{object_url}}"
    window.meshUrl = "{{ mesh_url }}";
  </script>

  <!-- cargamos el script the java script-->
  <script src="{{ url_for('static', filename='scripts/render-object.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/render-mesh.js') }}"></script>

{% endblock %}