{% extends "index.html" %}

{% block content %}
  <div class="row mt-5">
    <div class="col-12 center-content">
      <h1>Extraer la superficie envolvente de modelos tridimensionales</h1>
    </div>
    <div class="col-12">
      <form action="/extraer-superficie" method="post" enctype="multipart/form-data" class="container-fluid p-5">
        <div class="row">
          <div class="col-12">
            <div>
              <label for="archivo" class="form-label">Archivo</label>
              <input type="file" accept=".obj" class="form-control" name="archivo">
            </div>
          </div>
          <div class="col-12 center-content mt-5">
            <button class="btn btn-primary">Procesar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}